<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4 offset-md-3'>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </div>
      </div>
      </div>
    </div>
  <% end %>
<div class='container'>
<div class='row'>
<div class='col-md-6 offset-md-3'>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :employer %>
    <%= form.text_field :employer, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
</div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
