<%= render partial: 'nav' %>
<p id="notice"><%= notice %></p>
<div class="text-center" style="padding-top: 50px; padding-bottom: 100px">
<h3>My Profile</h3>
<% if current_user.profile %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h6>Name: <%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h6>
    </div>
    <div class="col-md-12">
      <h6>Phone: <%= current_user.profile.phone %></h6>
    </div>
    <div class="col-md-12">
      <h6>Employer: <%= current_user.profile.employer %></h6>
    </div>
    <div class="col-md-12">
      <h6>Title: <%= current_user.profile.title %></h6>
    </div>
    </div>
    <div class="col-md-12">
      <h6>Email: <%= current_user.email %></h6>
    </div>          
    <h5><%= link_to 'Edit', edit_profile_path(current_user.profile) %></h5>
  </div>
</div>
<div class="text-center">

  <h4> <%= link_to 'Account Settings', edit_user_registration_path %> </h4>


<%else%>
<%= link_to 'Create', new_profile_path %>
<%end%>
</div>
<style type="text/css">#footer{position: fixed;width: 100%;
  bottom: 0;}</style>
