<%= turbo_frame_tag "new_delete_request_#{contact_id}" do %>
<%= simple_form_for(@delete_request) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :code, value: code %>
    <%= f.hidden_field :contact_type,  value:  contact['attributes']['contact_type'] %>
    <%= f.hidden_field :contact_name,  value:  contact['attributes']['contact']  %>
    <%= f.hidden_field :phone,  value:  contact['attributes']['phone']  %>
    <%= f.hidden_field :email,  value:  contact['attributes']['email']  %>
    <%= f.hidden_field :user_id,  value: current_user.id  %>
    <%= f.hidden_field :contact_number,  value: contact_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Request to Remove Contact' %>
  </div>
<% end %>
<% end %>
