<%= simple_form_for(@member_detail) do |f| %>
  <% if @member_detail.errors.any? %>
    <div id="error_explanation" style="width: 100%">
      <h6><%= pluralize(@member_detail.errors.count, "error") %> prohibited this contact from being saved:</h6>

      <ul>
        <% @member_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <strong>Name: </strong><%= f.text_field :name, value: "#{ @old_member_detail.present? ? (@old_member_detail['name']) : (@member_detail.name) }", class: 'form-control' %>
    <%= f.hidden_field :member_id, value: "#{ @old_member_detail.present? ? (@old_member_detail['id']) : (@member_detail.id) }" %>
    <%= f.hidden_field :member_code, value: "#{ @old_member_detail.present? ? (@old_member_detail['code']) : (@member_detail.member_code) }"  %>
    <%= f.hidden_field :stype, value: 'UPDATE' %>
    <%= f.hidden_field :group_code, value: "#{ @old_member_detail.present? ? (@old_member_detail['group_code']) : (@member_detail.group_code) }"  %>
    <%= f.hidden_field :company, value: "#{ @old_member_detail.present? ? (@old_member_detail['name']) : (@member_detail.name) }"  %>
    <strong>Description: </strong><%= f.text_field :description, value: "#{ @old_member_detail.present? ? (@old_member_detail['description']) : (@member_detail.description) }" , class: 'form-control' %>
    <strong>Facility Type: </strong><%= f.select :facility, @facility_types, { selected: @old_member_detail.present? ? ( @old_member_detail['facility_type']) : (@member_detail.facility)  }, class: 'form-control' %>

    <%= f.hidden_field :active, value: "#{ @old_member_detail.present? ? (@old_member_detail['active']) : (@member_detail.active) }" %>
    <%= f.hidden_field :group_id, value: @group.present? ? (@group) : (@member_detail.group_id)  %>
  </div>
  <br/>
  <div class="form-actions ">
    <%= f.button :submit, 'Submit', class: 'btn btn-info' %>
  </div>


<% end %>

