<%= simple_form_for(@member_detail) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <strong>Name: </strong><%= f.text_field :name, value: @old_member_detail['name'], class: 'form-control' %>
    <%= f.hidden_field :member_id, value: @old_member_detail['id'] %>
    <%= f.hidden_field :member_code, value: @old_member_detail['code'] %>
    <%= f.hidden_field :stype, value: 'UPDATE' %>
    <%= f.hidden_field :group_code, value: @old_member_detail['group_code'] %>
    <%= f.hidden_field :company, value: @old_member_detail['name'] %>
    <strong>Description: </strong><%= f.text_field :description, value: @old_member_detail['description'], class: 'form-control' %>
    <strong>Facility Type: </strong><%= f.select :facility, [['RED - electric power lines, cables, conduit, and lighting cables', 'RED'],
                             ['Yellow (gas, oil, steam, petroleum, or gaseous materials)', 'YELL'],
                             ['Orange (communication, alarm or signal lines, cables or conduit)', 'ORAN'],
                             ['Blue (potable water)', 'BLUE'],
                             ['Purple (reclaimed water, irrigation, and slurry lines)', 'PURP'],
                             ['Green (sewers and drain lines)', 'GREE'],
    ], {}, value: @old_member_detail['facility_type'], class: 'form-control' %>

    <%= f.hidden_field :active, value: @old_member_detail['active'] %>
    <%= f.hidden_field :group_id, value: @group %>
  </div>
  <br/>
  <div class="form-actions text-center">
    <%= f.button :submit, 'Submit', class: 'btn btn-info' %>
  </div>


<% end %>

