<% if @member_details == [] %>
  <div class="alert alert-danger">
    <p>No associated member codes could be found. Check that the billing ID you've entered is correct.</p>
    <p>If the problem persists, please contact us at memberservices@usanorth811.org</p>
  </div>
<% end %>
<% @member_details.each do |member_detail| %>
  <div class="card" >
    <div class="card-header">
      <span style="font-size: 1.3rem; font-weight: 500"><%= member_detail['attributes']['code'] %> - <%= member_detail['attributes']['description'] %></span>
      <div class="text-lg-end">
        <% if member_detail['attributes']['active'] == true %>
        <div class="badge badge-success col-lg-2" style='font-size: 14px'>
          Active
        </div>
        <% else %>
          <div class="badge badge-danger col-lg-2" style='font-size: 14px'>
            Not Active
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-body" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2">&nbsp;</div>
          <div class="col-lg-5 text-start">
            <%= turbo_frame_tag 'member_detail' do %>
              <div>
                <strong>Name: </strong>
                <br/><%= member_detail['attributes']['name'] %>
              </div>
              <div>
                <strong>Description: </strong>
                <br/><%= member_detail['attributes']['description'] %>
              </div>
              <div>
                <strong>Facility Type: </strong>
                <br/><%= @facility_types.invert.fetch(member_detail['attributes']['facility_type']) %>
              </div>
              <div class="">
                <%= link_to 'Edit', new_member_detail_path(member_id: member_detail['id'], group_id: @group) %>
              </div>
            <% end %>
          </div>
          <div class="col-lg-4 text-start">
            <div
              data-controller="content-loader"
              data-content-loader-url-value="<%= member_shape_log_path(
                                                     member_id: member_detail['attributes']['member_id'],
                                                     code: member_detail['attributes']['code'],
                                                     group_id: @group) %>">
              <i class="fas fa-spinner fa-spin"></i> Loading Shape Log...
            </div>
            <a href="https://fs26.formsite.com/6jJPTG/abmfxonqok/fill?id0=<%= current_user.profile.first_name %>&id1=<%= current_user.profile.last_name %>&id2=<%= current_user.email %>&id5=<%= member_detail['attributes']['code'] %>" >
              Upload Shape File
            </a>
          </div>
        </div>
        <br/>
        <div class="">
            <%= turbo_frame_tag 'contacts' do %>
              <div class="align-items-center">
                <%= link_to member_contacts_path(member_id: member_detail['attributes']['member_id'], member_code: member_detail['attributes']['code'], group_id: @group) do %>
                  <button class="btn btn-info">
                    Show Contacts
                  </button>
                  <% end %>
              </div>
            <% end %>
        </div>
        <hr/>
        <a href="https://fs26.formsite.com/6jJPTG/daoiumyrko/fill?id2=<%= current_user.email %>&id0=<%= member_detail['attributes']['code'] %>">
          Change Ticket Destination
        </a>
      </div>
    </div>
  </div>
  <br/>
<% end %>