<div class="container-fluid">
  <div class="row">
    <% @contact_list.each do |contact| %>
      <% @missing_contact_types = @missing_contact_types.except(contact['attributes']['contact_type']) %>

      <div class="col-xl-4 col-lg-6">
        <div class="card" style="margin-left: -10px; margin-right: -10px" >
          <%= turbo_frame_tag 'contact' do %>
            <div class="card-header">
              <%= contact['attributes']['name'] %>
            </div>
            <div class="card-body text-start">
              <strong>Contact Type: </strong><br/> <%= @contact_types.fetch(contact['attributes']['contact_type']) %> <br/>
              <strong>Contact: </strong><br/> <%= contact['attributes']['contact'] %> <br/>
              <strong>Phone: </strong><br/> <%= contact['attributes']['phone'] %> <br/>
              <strong>Email: </strong><br/> <%= contact['attributes']['email'] %> <br/>
              <%= link_to 'Edit', new_member_contact_path(member_id: contact['attributes']['member_id'],
                                                          stype: 'UPDATE', contact_id: contact['id'],
                                                          member_code: @member_code, group_id: @group),
                                                          "data-controller" => "prefetch" %> |
              <%= link_to 'Delete', new_member_contact_path(member_id: contact['attributes']['member_id'],
                                                          stype: 'DELETE', contact_id: contact['id'],
                                                          member_code: @member_code, group_id: @group),
                          "data-controller" => "prefetch" %>
            </div>
            </div>
          <% end %>
          <br/>
      </div>
    <% end %>
    <div class="col-xl-4 col-lg-6">
      <div class="card" style="margin-left: -10px; margin-right: -10px" >
        <%= turbo_frame_tag 'contact' do %>

      <div class="card-header">
          New Contact
        </div>
        <div class="card-body text-start">
            <%= link_to 'Create New Contact', new_member_contact_path(member_id: @member_id, stype: 'INSERT', member_code: @member_code, group_id: @group),
                        "data-controller" => "prefetch" %>
        </div>
        <% end %>

      </div>
      <br/>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <%= turbo_frame_tag 'contact_status_form' do %>
        <%= render partial: 'codestatuses/contact_form', locals: { member_code: @member_code, user: current_user.id, group: @group} %>
      <% end %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-12">
      <div style="font-size: 20px; font-weight: 500" class="text-secondary">Missing the following required contacts</div>
      <span class="text-danger">|</span>
      <% @missing_contact_types.each do |type| %>
        <%= turbo_frame_tag 'contact' do %>
          <%= link_to type[1], new_member_contact_path(missing_type: type[0], member_id: @member_id, stype: 'INSERT', member_code: @member_code, group_id: @group),
                      "data-controller" => "prefetch" %> <span class="text-danger">|</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
