<p id="notice"><%= notice %></p>

<h1>Member Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th>Member</th>
      <th>Member code</th>
      <th>Contact</th>
      <th>Type</th>
      <th>Company</th>
      <th>Contact name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Phone ext</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_contacts.each do |member_contact| %>
      <tr>
        <td><%= member_contact.name %></td>
        <td><%= member_contact.ip %></td>
        <td><%= member_contact.member_id %></td>
        <td><%= member_contact.member_code %></td>
        <td><%= member_contact.contact_id %></td>
        <td><%= member_contact.type %></td>
        <td><%= member_contact.company %></td>
        <td><%= member_contact.contact_name %></td>
        <td><%= member_contact.address1 %></td>
        <td><%= member_contact.address2 %></td>
        <td><%= member_contact.city %></td>
        <td><%= member_contact.state %></td>
        <td><%= member_contact.zip %></td>
        <td><%= member_contact.phone %></td>
        <td><%= member_contact.phone_ext %></td>
        <td><%= member_contact.email %></td>
        <td><%= link_to 'Show', member_contact %></td>
        <td><%= link_to 'Edit', edit_member_contact_path(member_contact) %></td>
        <td><%= link_to 'Destroy', member_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member Contact', new_member_contact_path %>
