<%= form_with(model: billing_contact, local: true) do |form| %>
  <% if billing_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(billing_contact.errors.count, "error") %> prohibited this billing_contact from being saved:</h2>

      <ul>
      <% billing_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :addr %>
    <%= form.text_field :addr %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
