<%= render partial: 'nav' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>

<div class="container" >
  <div class="row" >
    <div class="col-md-12">
      <h4 class="text-center">Companies</h4>
      <hr class="my-4"></hr>
    </div>
  </div>

  <div class="row">
    <% @groups.each do |group| %>
    <div class="col-md-4">
    <div class="card" style="width: 18rem; ">
      <div class="card-header" >
        <h6 style="padding-top: 10px !important;"><%= link_to group.company.name, group.company %></h6>
      </div>
      <div class="card-text">
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    </div>
  </div>
    <% end %>
  </div>
</div>



<%= link_to 'New Group', new_group_path %>
