<% if current_user.profile %>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb" style="background-color: white" id="dark-container">

        </ol>
        <p id="notice"><%= notice %></p>

      </div>
    </div>
  </div>

  <div class="container text-center" style="padding-bottom: 220px">

    <!-- Home Page Header -->
    <div class="row" >
      <div class="col-md-12">
        <h2 class='text-center'>Welcome to the USA North 811 Member Portal</h2>
        <div class='col-md-4 offset-md-4'><hr class="my-4"></hr></div>
      </div>
    </div>
    <div class='row text-center'>
      <div class='col-lg-3'>
        <h4 style='font-weight: 600 !important'><a href="/profiles">My Profile</a></h4>
      </div>
      <div class='col-lg-3 d-none d-lg-block'>
        <h4 style='font-weight: 600 !important' class="text-center">My Companies</h4>
      </div>

      <div class='col-md-12'>
        <hr class="my-4"></hr>
      </div>
      <div class='col-sm-12 d-lg-none'>
        <h4 class="text-center">My Companies</h4>
      </div>
    </div>
    <!-- Home Page Header -->

    <!-- Group List -->
    <div class="row" id="index" >
      <% @groups.each do |group| %>
        <div class="col-md-4"  style='padding-top: 15px'>
          <div class="card-text" id="mimicCard" style="width: auto; ">
            <div class="card-header">
              <h6 style="padding-top: 10px !important; font-weight: 600; color:white !important">
                <%if group.name == nil %>
                  <%=link_to group.billing_id, group, :style => ' color:white !important' %>
                <%else%>
                  <%= link_to group.name, group, :style => ' color:white !important'%>
                <%end%>
              </h6>
            </div>
            <div class="card-body">
              <%=link_to "View Contacts", group, class: 'btn btn-info', style: 'color: white!important; margin-top: 5px; margin-bottom: 5px' %>
              &nbsp;
              <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-success', style: 'margin-top: 5px; margin-bottom: 5px' %>
              &nbsp;
              <%= button_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure you want to remove this company?' }, class: 'btn btn-danger', style: 'margin-top: 5px; margin-bottom: 5px' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-md-4"style='padding-top: 15px'>
        <div class="card" style="width: auto; ">
          <div class="card-header" >
            <h6 style="padding-top: 10px !important;font-weight: 600; ">
              <div style="color:white ">Add Company</div>
            </h6>
          </div>
          </a>
          <%= render 'form', group: @group %>
        </div>
      </div>
    </div>
    <!-- Group List -->

<%else%>
  <h2 class="container text-center" style="padding-top: 75px; padding-bottom: 275px">
    <div class='btn btn-info'>
      <%= link_to "Create Your Profile", new_profile_path, :class => 'btn btn-info', :style => 'color:white !important; font-size:40px' %>
    </div>
  </h2>
<% end %>

<style type="text/css">#footer{width: 100%;
    bottom: 0;}</style>
</div>
