
<div class='col-lg-12 offset-lg-2 d-none d-lg-block' style="margin-top: 20px !important">
  <span class="" style='font-size: 1.4rem; font-weight: 600; '>
    <%= @group.name %>
  </span>
</div>

<%= render partial: 'nav' %>

<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb"id="dark-container">
        <li class="breadcrumb-item"><%=link_to "HOME", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%if @group.name != nil%><%= @group.name %><%else%><%=@group.billing_id%><%end%></li>
      </ol>

    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row" >
    <div class='col-md-8 offset-md-1 d-lg-none'>
      <span class="text-center">
        <%= @group.name %>
      </span>
    </div>

    <!-- Loading Member Codes -->
    <div class="col-md-8 offset-md-1">
      <div class="container-fluid" style="padding-top: 35px !important">
        <span style="font-size: 1.3rem; font-weight: 500" class="text-center">Codes</span>
        <hr class="my-4">
        <div
          data-controller="content-loader"
          data-content-loader-url-value="<%= member_detail_list_path(billing_id: @group.billing_id, group_id: @group.id) %>">
          <i class="fas fa-spinner fa-spin"></i> Loading member codes...
        </div>
      </div>
    </div>
    <!-- Loading Member Codes -->

    <div class="col-md-3">
      <div class="mycontent-right">
        <!-- Recent Activity Log -->
        <%= turbo_stream_from "member_contacts#{@group.billing_id}" %>
        <span style="font-size: 1rem; font-weight: 500" >Recent Activity</span>
        <ul class="list-group" >
          <%= turbo_frame_tag "member_contacts#{@group.billing_id}" do %>
            <%= render partial: 'member_contacts/member_contact', locals: { billing_id: @group.billing_id} %>
            <%if @activities.present?%>
              <% @activities.drop(1).each do |activity| %>
                <li class="list-group-item" style="font-size: .8rem; font-weight: 500">
                  <%= "#{activity.owner.profile.first_name} #{activity.owner.profile.last_name}" if activity.owner %>
                  <%= {'UPDATE' => ' Updated a ', 'DELETE' => 'Deleted a', 'INSERT' => 'Added a'}.fetch(activity.stype) %>
                  <%= @contact_types.fetch(activity.contact_type) %> contact for
                  <%= activity.code %>
                  on <%=activity.updated_at.localtime.strftime("%m/%d at %I:%M %p") %>
                </li>
              <% end %>
            <%end%>
          <% end %>
        </ul>
        <!-- Recent Activity Log -->
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Contact Type Definitions
        </div>
        <div class="card-body text-left">
          <ul class="list-group">
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>Member Representative Contact (REPR, MEMBER REP)</b> - The sole Representative of your company, that must approve any changes to your membership in order for it to take effect.</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>Billing Contact (BILL, BILLING)</b> - The person to contact for any billing related issues and will receive your membership billing invoice.</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>Marking Contact (RCVR, RECEIVING)</b> - Person or office that receives tickets during traditional business hours. Answers questions from excavators about markings (or can contact specific field locating technician to assign technician to answer questions).</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>General Questions Contact (CONT, CONTACT)</b> - The person that will receive general questions regarding dig tickets your company is notified on.</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>Emergency/Facility Dig-in (EMERG, EMERGENCY) Contact</b> - The person the excavator will reach out to regarding any emergency or a damaged facility scenario.</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>Engineer/Service Area Contact (ENGR, ENGINEERING)</b> - The individual within your company who is authorized to make changes to your company’s Service Area Registration (SAR).</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>Vacuum Contact (VACU, VACUUM)</b> - The person to contact if an excavator will be exposing your facilities using vacuum equipment.</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>After Hours (AHRS, AFTER HOURS) Contact</b> - The person to contact during non-business hours.</span></li>
            <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><b>Board Minutes Contact (BORD, BOARD REPRESENTATIVE)</b> - This person will receive the quarterly board meeting minutes.</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Facility Type Definitions
        </div>
        <div class="card-body text-left">
          <ul class="list-group">
            <% @facility_types.each do |key, value| %>
              <li class="list-group-item"><span style="font-size: .9rem; font-weight: 500"  style='text-align:left'><%= key %></span></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<style type="text/css">.mycontent-right {
    border-left: 3px solid #F2F7F9 !important;
}</style>
