  
    <p>
    <div class='col-lg-12 offset-lg-2 d-none d-lg-block'>
    <h2 class="" style=' font-weight: 600'>
    <%= @group.name %>
  </h2>
  </div>
  
  </p>
<%= render partial: 'nav' %>
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%=link_to "HOME", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%if @group.name != nil%><%= @group.name %><%else%><%=@group.billing_id%><%end%></li>
  </ol>
  <p id="notice"><%= notice %></p>
</div>
</div>
</div>
<% if flash[:member_contact_errors] %>
  <h5>Could not submit changes for the following reasons:</h5>
    <div class="alert alert-danger" role="alert">
    <% flash[:member_contact_errors].each do |msg| %>
      <h6><%= msg %></h6>
    <% end %>
    </div>
  <% end %>


<div class="container-fluid" >
<div class="row" >
<div class='col-md-8 offset-md-1 d-lg-none'>
    <h4 class="text-center">
    <%= @group.name %>
    </h4>
</div>
<div class="col-md-8 offset-md-1">
  <div class="container-fluid" style="padding-top: 35px !important">
<h4 class="text-center">Codes</h4>
<hr class="my-4">
</hr>
<div class="row" >

  <%if @members.present?%>
  <% @members.each do |member| %>
    <div class="col-xl-12 text-center" style="padding-bottom: 25px !important">
      <div class="card" style="width: auto; ">

        <div class="card-header" >
        <h4 style=" padding-top: 10px !important;  ">
        <div class='col-md-10 offset-md-1'>
          
            <%= member['Code'] %> - <%= member['Company'] %>
         
        </div>
        
          <% if member['Active'] == "true" %>
            <div class="badge badge-success float-right col-lg-1 d-none d-lg-block"  > 
              Active
            </div>
            <div class="badge badge-success col-md-2 col-sm-2 col-xs-1 d-lg-none"  > 
              Active
            </div>
          <% elsif member['Active'] == "false" %>
            <div class="badge badge-danger float-right col-lg-2 d-none d-lg-block" >
              Not Active
            </div>
            <div class="badge badge-danger col-md-2 col-sm-2 col-xs-1 d-lg-none" >
              Not Active
            </div>
          <% else %>
            <div class="badge badge-info float-right" >
            </div>
          <%end%>
          
        </div>
    </h4>
    <% @missingcontacts = ['RCVR','DAMG','DATA','EMER','CONT','AHRS','VACU']%>
      <div class="card-text  ">
        <h5  style="padding-top: 15px">
          Facility Type: <%= member['Facility'] %>
        </h5>
        
        <h5 class=" " style="padding-left: 10px">
        
        <div class="modal fade" id="questionmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Contact Types</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <ul>
        <li><h6 style='text-align:left'><b>Member Representative Contact (REPR, MEMBER REP)</b> &nbsp; The sole Representative of your company, that must approve any changes to your membership in order for it to take effect.</h6></li>
        <li><h6 style='text-align:left'><b>Billing Contact (BILL, BILLING)</b> &nbsp; The person to contact for any billing related issues and will receive your membership billing invoice.</h6></li>
        <li><h6 style='text-align:left'><b>General Questions Contact (CONT, CONTACT)</b> &nbsp;  The person that will receive general questions regarding dig tickets your company is notified on.</h6></li> 
        <li><h6 style='text-align:left'><b>Emergency/Facility Dig-in (EMERG, EMERGENCY) Contact</b> &nbsp; The person the excavator will reach out to regarding any emergency or a damaged facility scenario.</h6></li>
        <li><h6 style='text-align:left'><b>Engineer/Service Area Contact (ENGR, ENGINEERING)</b> &nbsp; The individual within your company who is authorized to make changes to your company’s Service Area Registration (SAR).</h6></li>
        <li><h6 style='text-align:left'><b>Vacuum Contact (VACU, VACUUM)</b> &nbsp; The person to contact if an excavator will be exposing your facilities using vacuum equipment.</h6></li>
        <li><h6 style='text-align:left'><b>After Hours (AHRS, AFTER HOURS) Contact</b> &nbsp; The person to contact during non-business hours.</h6></li>
        <li><h6 style='text-align:left'><b>Board Minutes Contact (BORD, BOARD REPRESENTATIVE)</b> &nbsp; This person will receive the quarterly board meeting minutes.</h6></li>
        <li><h6 style='text-align:left'><b>Ticket Delivery Contact (RCVR, RECEIVING)</b> &nbsp; The person that is contacted regarding ticket delivery issues/concerns.</h6></li>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
        Ticket Delivery Destination: <%= member['Delivery_address'] %>
        </h5>
        <h5 class=" " style="padding-left: 10px">
          Current Service Area Version Number: <%= member['Shape'] %> 
        </h5>
        <h5 class=" " style="padding-left: 10px">
           Service Area Last Updated <%= Date.parse(member['Created']).strftime("%m/%d/%y")%>
        </h5>
        
        <div class='col-md-6 offset-md-3'>
          <button class='btn btn-info' data-toggle="collapse" href="#collapseExample<%=member['Member_id']%>" role="button" aria-expanded="false" aria-controls="collapseExample<%=member['Member_id']%>" >Show Contacts</button>
        </div>
        <h6 style='padding-top: 20px'><small>Please Contact <a href = "mailto:memberservices@usanorth811.org">memberservices@usanorth811.org</a> for more information on updating your facility type or delivery destination.</small></h6>
        <div class="collapse" id="collapseExample<%=member['Member_id']%>">
          <div class='container'>
            <div class="row" style='padding-top: 15px'>
            <%if member['Contacts'][0]['Contacts'].present?%>
              <% member['Contacts'][0]['Contacts'].each do |contact| %>
                
                <% @missingcontacts -= [contact['Contact_type']]%>
                <div class='col-xl-4 col-lg-6 col-md-12 col-sm-12' style='padding-top: 15px'>
                  <div class="border" style="width: auto; ">

                    <div class="card-body" >
                      <h5 class=""><button type="button" class='btn' data-toggle="modal" data-target="#questionmodal">
                      <%= image_tag("question.svg", :width => "12", :style => 'padding-bottom: 5px; margin-left:-13px; margin-right:-11px')%> 
                    </button>
                        <%if contact['Contact_type'] == 'RCVR' %> 
                          RECEIVING <h6><small>This contact appears on tickets</small></h6>
                        <%elsif contact['Contact_type']== 'ALTR' %>
                          ALTERNATE
                        <%elsif contact['Contact_type']== 'BILL' %>
                          BILLING
                        <%elsif contact['Contact_type']== 'BORD' %>
                          Board Representative
                        <%elsif contact['Contact_type']== 'DAMG' %>
                          DAMAGES
                        <%elsif contact['Contact_type']== 'DATA' %>
                          DATABASE
                        <%elsif contact['Contact_type']== 'EMER' %>
                          EMERGENCY <h6><small>This contact appears on tickets</small></h6>
                        <%elsif contact['Contact_type']== 'ENGR'%>
                          ENGINEERING
                        <%elsif contact['Contact_type']== 'MAIN'%>
                          MAIN SWITCHBOARD
                        <%elsif contact['Contact_type']== 'SURV'%>
                          SURVEYOR
                        <%elsif contact['Contact_type']== 'CONT'%>
                          CONTACT 
                        <%elsif contact['Contact_type']== 'NITE'%>
                          NIGHT TIME
                        <%elsif contact['Contact_type']== 'AHRS'%>
                          AFTER HOURS
                        <%elsif contact['Contact_type']== 'VACU'%>
                          VACUUM
                        <%elsif contact['Contact_type']== 'REPR'%>
                          MEMBER REP
                        <%end%>
                      </h5>
                      
                      <% if false %><h6 class=" "><%= contact['Name'] %></h6><%end%>
                        <h6 class=' '><%= contact['Contact'] %></h6>
                        <h6 class=" "><a href="tel:<%= contact['Phone'] %>"><%= number_to_phone contact['Phone'] %></a></h6>
                        <h6 class=" "><a href = "mailto:<%= contact['Email'] %>"><%= contact['Email'] %></a></h6>
                        <% if contact['Address1'].present? %>
                          <h6 class=" "><%= contact['Address1'] %></h6>
                          <h6 class=" "><%= contact['City'] %>, <%= contact['State'] %></h6>
                          <h6 class=" "><%= contact['Zip'] %></h6>
                        <%end%>
                        <% if contact['Contact_type'] == 'REPR' %>
                        <h6><small>Please Contact <a href = "mailto:memberservices@usanorth811.org">memberservices@usanorth811.org</a> for more information on changing your Member Rep</small></h6>
                        <% elsif contact['Contact_type'] == 'BILL' %>
                        <h6><small>Please Contact <a href = "mailto:memberservices@usanorth811.org">memberservices@usanorth811.org</a> for more information on changing your Billing contact</small></h6>
                        <%else%>
                        <div class='row'>
                        <div class='col-lg-3 offset-lg-3 col-sm-6'>
                        <button type="button" style='width:50px' class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal<%=contact['Id']%>">
                        <%=image_tag("pencil_teal.svg", :width => "15")%>
                        </button>
                        </div>
                        <div class='col-lg-3 col-sm-6'>
                        <button type="button" class="btn btn-outline-danger" style='width:50px' data-toggle="modal" data-target="#exampleModal<%=contact['Id']%>1234">
                        <%=image_tag("trashcan_orange.svg", :width => "15")%>
                        </button>
                        </div>
                        </div>
                        <% end%>
                      </div>
                    </div>
                  </div>
                

                <div class="modal fade" id="exampleModal<%=contact['Id']%>1234" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-center" id="exampleModalLabel">Are You Sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <div class="modal-body">
                    <h4>This action cannot be undone</h4><h5>Continue?</h5>
                    <%= form_for MemberContact.new, url: member_contacts_path do |form|  %>
                      <div class="modal-body">
                        <div class='container'>
                        
                          <form>
                          <div class="form-group row" >
                          
                          <%= form.hidden_field :contact_type, :value => contact['Contact_type'] %>
                          
                          <%= form.hidden_field :contact_name, :value => contact['Contact'] %>
                          
                          <%= form.hidden_field :phone, :value => contact['Phone'] %>
                          
                          <%= form.hidden_field :phone_ext, :value => contact['Phone_ext'] %>
                          
                          <%= form.hidden_field :email, :value => contact['Email'] %>
                          
                          <%= form.hidden_field :address1, :value => contact['Address1'] %>
                          
                          <%= form.hidden_field :address2, :value => contact['Address2'] %>
                          
                          <%= form.hidden_field :city, :value => contact['City'] %>
                          
                          <%= form.hidden_field :state, :value => contact['State'] %>
                          
                          <%= form.hidden_field :zip, :value => contact['Zip'] %>
                          <%= form.hidden_field :name, :value => current_user.email %>
                          <%= form.hidden_field :member_id, :value => contact['Member_id'] %>
                          <%= form.hidden_field :member_code, :value => member['Code'] %>
                          <%= form.hidden_field :contact_id, :value => contact['Id'] %>
                          <%= form.hidden_field :company, :value => contact['Name'] %>
                          <%= form.hidden_field :group_id, :value => @group.id %>
                              <%= form.hidden_field :stype, :value => 'DELETE' %>
                              <%= form.hidden_field :billing, :value => @group.billing_id%>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            
                        <%= form.submit 'Yes', class: 'btn btn-danger', type: "submit" %>
                        </div>
                          </form>
                          
                        </div>
                      </div>
                      
                        
                      
                      <%end%>
                      
                    </div>
                  </div>
                </div>
              </div>

                <div class="modal fade" id="exampleModal<%=contact['Id']%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editing <%= contact['Contact_type'] %> for <%=member['Company']%></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <%= form_for MemberContact.new, url: member_contacts_path do |form|  %>
                      <div class="modal-body">
                        <div class='container'>
                        
                          <form>
                          <div class="form-group row" >
                            <div class="col-sm-6">
                              <label for="exampleInputEmail1" >Contact Type</label>
                              
                              <%= form.select :contact_type, ['RCVR','DAMG','DATA', 'ENGR','EMER','CONT','AHRS','VACU'], {:selected => contact['Contact_type']},class: 'form-control custom-select', value: contact['Contact_type'], required: true %>
                              <h6 ><small style='color: red; '>*required</small></h6>
                            </div> 
                            <div class="col-sm-6">  
                              <label for="exampleInputEmail1" style=''>Contact Name</label>
                              
                              <%= form.text_field :contact_name, class: 'form-control', value: contact['Contact'], required: true %>
                              <h6 ><small style='color: red; '>*required</small></h6>
                            </div> 
                            <div class="col-md-12 col-lg-6">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Phone</label>
                              
                              <%= form.text_field :phone, class: 'form-control', value: contact['Phone'], required: true %>
                              <h6 ><small style='color: red; '>*required</small></h6>
                            </div>
                            <div class="d-none d-lg-block col-lg-6">
                              <label for="exampleInputEmail1" style='padding-top:10px;'>Ext</label>
                              
                              <%= form.text_field :phone_ext, class: 'form-control', value: contact['Phone_ext'] %>
                            </div> 
                            <div class="col-sm-12">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Email</label>
                              <%= form.text_field :email, class: 'form-control', value: contact['Email'],type: "email" %>
                            </div>
                            <div class="d-none d-lg-block col-lg-12">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Address 1</label>
                              <%= form.text_field :address1, class: 'form-control', value: contact['Address1']%>
                             
                              <label for="exampleInputEmail1" style='padding-top:10px'>Address 2</label>
                              <%= form.text_field :address2, class: 'form-control', value: contact['Address2']%>
                             
                              <label for="exampleInputEmail1" style='padding-top:10px'>City</label>
                              <%= form.text_field :city, class: 'form-control', value: contact['City']%>
                            </div>
                            <div class="d-none d-lg-block col-lg-6">
                              <label for="exampleInputEmail1" style='padding-top:10px'>State</label>
                              <%= form.select :state, [
                                ['CA', 'CA'],
                                ['NV', 'NV'],
                                ['AK', 'AK'],
                                ['AL', 'AL'],
                                ['AR', 'AR'],
                                ['AZ', 'AZ'],
                                ['CA', 'CA'],
                                ['CO', 'CO'],
                                ['CT', 'CT'],
                                ['DC', 'DC'],
                                ['DE', 'DE'],
                                ['FL', 'FL'],
                                ['GA', 'GA'],
                                ['HI', 'HI'],
                                ['IA', 'IA'],
                                ['ID', 'ID'],
                                ['IL', 'IL'],
                                ['IN', 'IN'],
                                ['KS', 'KS'],
                                ['KY', 'KY'],
                                ['LA', 'LA'],
                                ['MA', 'MA'],
                                ['MD', 'MD'],
                                ['ME', 'ME'],
                                ['MI', 'MI'],
                                ['MN', 'MN'],
                                ['MO', 'MO'],
                                ['MS', 'MS'],
                                ['MT', 'MT'],
                                ['NC', 'NC'],
                                ['ND', 'ND'],
                                ['NE', 'NE'],
                                ['NH', 'NH'],
                                ['NJ', 'NJ'],
                                ['NM', 'NM'],
                                ['NV', 'NV'],
                                ['NY', 'NY'],
                                ['OH', 'OH'],
                                ['OK', 'OK'],
                                ['OR', 'OR'],
                                ['PA', 'PA'],
                                ['RI', 'RI'],
                                ['SC', 'SC'],
                                ['SD', 'SD'],
                                ['TN', 'TN'],
                                ['TX', 'TX'],
                                ['UT', 'UT'],
                                ['VA', 'VA'],
                                ['VT', 'VT'],
                                ['WA', 'WA'],
                                ['WI', 'WI'],
                                ['WV', 'WV'],
                                ['WY', 'WY']
                              ],{:selected => contact['State']},class: 'form-control custom-select', value: contact['State']%>
                            </div>
                            <div class="d-none d-lg-block col-lg-6">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Zip</label>
                              <%= form.text_field :zip, class: 'form-control', value: contact['Zip'] %>
                            </div>
                              
                              <%= form.hidden_field :name, :value => current_user.email %>
                              <%= form.hidden_field :member_id, :value => contact['Member_id'] %>
                              <%= form.hidden_field :member_code, :value => member['Code'] %>
                              <%= form.hidden_field :contact_id, :value => contact['Id'] %>
                              <%= form.hidden_field :company, :value => member['Company'] %>
                              <%= form.hidden_field :group_id, :value => @group.id %>
                              <%= form.hidden_field :stype, :value => 'UPDATE' %>
                              <%= form.hidden_field :billing, :value => @group.billing_id%>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= form.submit 'Save Changes', class: 'btn btn-success btn-block', type: "submit" %>
                        </div>
                          </form>
                          
                        </div>
                      </div>
                      
                        
                      
                      <%end%>
                    </div>
                  </div>
                </div>
              <%end%>
              <%end%>
              <% @missingcontacts.each do |missingcontact| %>
                <div class='col-xl-4 col-lg-6 col-md-12 col-sm-12' style='padding-top: 15px'>
                  
                  
                  <div class="card " style="width: auto; ">
                    <div style='padding-top: 15px; padding-bottom: 15px; padding-left: 15px; padding-right: 15px' >
                    <div class='alert-danger' >
                    <div class=""><h5 style='font-weight: 600; padding-top:15px'> Missing Contact </h5></div>
                      <h5 class=" " style=' padding-top: 5px; padding-left: 15px; padding-right: 15px'>
                      <button type="button" class='btn' data-toggle="modal" data-target="#questionmodal">
                      <%= image_tag("question.svg", :width => "12", :style => 'padding-bottom: 5px; margin-left:-13px; margin-right:-11px')%> 
                    </button>
                        <%if missingcontact == 'RCVR' %>
                          RECEIVING LOCATION
                        <%elsif missingcontact== 'ALTR' %>
                          ALTERNATE
                        <%elsif missingcontact== 'BILL' %>
                          BILLING
                        <%elsif missingcontact== 'BORD' %>
                          Board Representative
                        <%elsif missingcontact== 'DAMG' %>
                          DAMAGES
                        <%elsif missingcontact== 'DATA' %>
                          DATABASE
                        <%elsif missingcontact== 'EMER' %>
                          EMERGENCY
                        <%elsif missingcontact== 'ENGR'%>
                          ENGINEERING
                        <%elsif missingcontact== 'MAIN'%>
                          MAIN SWITCHBOARD
                        <%elsif missingcontact== 'SURV'%>
                          SURVEYOR
                        <%elsif missingcontact== 'CONT'%>
                          CONTACT
                        <%elsif missingcontact== 'NITE'%>
                          NIGHT TIME
                        <%elsif missingcontact== 'AHRS'%>
                          AFTER HOURS
                        <%elsif missingcontact== 'VACU'%>
                          VACUUM
                        <%elsif missingcontact== 'REPR'%>
                          MEMBER REP
                        <%end%>
                      </h5>
                      
                      <div style='padding-top: 7px; padding-bottom: 15px; padding-left: 15px; padding-right: 15px'>
                        This Member Code requires <%= missingcontact %> contact to be complete. Please add this contact type.                       
                      </div>
                      </div>
                      <div style='padding-top: 15px'>
                      <button type='button' class='btn btn-info' data-toggle="modal" data-target="#exampleModal<%=missingcontact%>">Quick Add</button>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="modal fade" id="exampleModal<%=missingcontact%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Quick Add contact for <%=member['Company']%></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <%= form_for MemberContact.new, url: member_contacts_path do |form|  %>
                      <div class="modal-body">
                        <div class='container'>
                        
                          <form>
                          <div class="form-group row" >
                            <div class="col-sm-6">
                              <label for="exampleInputEmail1" >Contact Type</label>
                              <input class="form-control" type="text" placeholder="<%=missingcontact%>" readonly>
                              
                            </div> 
                            <div class="col-sm-6">  
                              <label for="exampleInputEmail1" style=''>Contact Name</label>
                              
                              <%= form.text_field :contact_name, class: 'form-control', required: true %>
                              <h6 ><small style='color: red; '>*required</small></h6>
                            </div> 
                            <div class="col-md-12 col-lg-6">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Phone</label>
                              
                              <%= form.text_field :phone, class: 'form-control', required: true %>
                              <h6 ><small style='color: red; '>*required</small></h6>
                            </div>
                            
                            <div class="col-md-12 col-lg-6">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Email</label>
                              <%= form.text_field :email, class: 'form-control',type: "email" %>
                            </div>

                            <div class="d-none">
                              <label for="exampleInputEmail1" style='padding-top:10px;'>Ext</label>
                              
                              <%= form.text_field :phone_ext, class: 'form-control' %>
                            </div> 
                            
                            <div class="d-none">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Address 1</label>
                              <%= form.text_field :address1, class: 'form-control'%>
                             
                              <label for="exampleInputEmail1" style='padding-top:10px'>Address 2</label>
                              <%= form.text_field :address2, class: 'form-control'%>
                             
                              <label for="exampleInputEmail1" style='padding-top:10px'>City</label>
                              <%= form.text_field :city, class: 'form-control'%>
                            </div>
                            <div class="d-none ">
                              <label for="exampleInputEmail1" style='padding-top:10px'>State</label>
                              <%= form.text_field :state, class: 'form-control' %>
                            </div>
                            <div class="d-none ">
                              <label for="exampleInputEmail1" style='padding-top:10px'>Zip</label>
                              <%= form.text_field :zip, class: 'form-control' %>
                            </div>
                            
                            <%= form.hidden_field :contact_type, :value => missingcontact %>
                            <%= form.hidden_field :name, :value => current_user.email %>
                            <%= form.hidden_field :member_id, :value => member['Member_id'] %>
                            <%= form.hidden_field :member_code, :value => member['Code'] %>
                            <%= form.hidden_field :contact_id %>
                            <%= form.hidden_field :company, :value => member['Company'] %>
                            <%= form.hidden_field :group_id, :value => @group.id %>
                            <%= form.hidden_field :stype, :value => 'INSERT' %>
                            <%= form.hidden_field :billing, :value => @group.billing_id%>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <%= form.submit 'Save Changes', class: 'btn btn-success btn-block', type: "submit" %>
                        </div>
                          </form>
                          
                        </div>
                      </div>
                      
                        
                      
                      <%end%>
                    </div>
                  </div>
                </div>
            <%end%> 
            </div>
            <div class='row'>
            <div class='col-xl-12 col-sm-12' style='padding-top: 15px'>
                  <div class="card" style="width: auto; ">

                    <div class="card-header" data-toggle="collapse" href="#collapseExample12345" role="button" aria-expanded="false" aria-controls="collapseExample12345" >
                      <h5 class=" ">
                      New Contact
                      </h5>
                    </div>
                    <div class='card-body' id="collapseExample12345">
                    <%= form_for MemberContact.new, url: member_contacts_path do |form|  %>
                      
                        
                          <form>
                          <div class="form-group row" >
                          <div class="col-sm-4" style=''>
                            <label for="exampleInputEmail1" ><button type="button" class='btn' data-toggle="modal" data-target="#questionmodal">
                            <%= image_tag("question.svg", :width => "12", :style => 'padding-bottom: 5px; margin-left:-13px; margin-right:-11px')%> 
                          </button>Contact Type</label>
                            <%= form.select :contact_type, ['RCVR','DAMG','DATA','ENGR','EMER','CONT','AHRS','VACU'],{},class: 'form-control custom-select',  required: true %>
                            <h6 ><small style='color: red; '>*required</small></h6>
                          </div> 
                            <div class='col-md-4'>
                              <label for="exampleInputEmail1" style='padding-top:10px;padding-bottom:3px'>Contact Name</label>
                              <%= form.text_field :contact_name, class: 'form-control', required: true%>
                              <h6 ><small style='color: red; '>*required</small></h6>
                            </div>
                            <div class='col-md-2'>
                              <label for="exampleInputEmail1" style='padding-top:10px;padding-bottom:3px'>Phone</label>
                              <%= form.text_field :phone, class: 'form-control', required: true %>
                              <h6 ><small style='color: red; '>*required</small></h6>
                            </div>
                            <div class='col-md-2'>
                              <label for="exampleInputEmail1" style='padding-top:10px;padding-bottom:3px'>Ext</label>
                              <%= form.text_field :phone_ext, class: 'form-control' %>
                            </div>
                            <div class='col-md-4'>
                              <label for="exampleInputEmail1" style='padding-top:10px'>Email</label>
                              <%= form.text_field :email, class: 'form-control',type: "email" %>
                            </div>
                            <div class='col-md-4'>
                              <label for="exampleInputEmail1" style='padding-top:10px'>Address 1</label>
                              <%= form.text_field :address1, class: 'form-control'%>
                            </div>
                            <div class='col-md-4'>
                              <label for="exampleInputEmail1" style='padding-top:10px'>Address 2</label>
                              <%= form.text_field :address2, class: 'form-control'%>
                            </div>
                            <div class='col-md-4'>
                              <label for="exampleInputEmail1" style='padding-top:10px'>City</label>
                              <%= form.text_field :city, class: 'form-control'%>
                            </div>
                            <div class='col-md-2'>
                              <label for="exampleInputEmail1" style='padding-top:10px'>State</label>
                              <%= form.select :state, [
                                ['CA', 'CA'],
                                ['NV', 'NV'],
                                ['AK', 'AK'],
                                ['AL', 'AL'],
                                ['AR', 'AR'],
                                ['AZ', 'AZ'],
                                ['CA', 'CA'],
                                ['CO', 'CO'],
                                ['CT', 'CT'],
                                ['DC', 'DC'],
                                ['DE', 'DE'],
                                ['FL', 'FL'],
                                ['GA', 'GA'],
                                ['HI', 'HI'],
                                ['IA', 'IA'],
                                ['ID', 'ID'],
                                ['IL', 'IL'],
                                ['IN', 'IN'],
                                ['KS', 'KS'],
                                ['KY', 'KY'],
                                ['LA', 'LA'],
                                ['MA', 'MA'],
                                ['MD', 'MD'],
                                ['ME', 'ME'],
                                ['MI', 'MI'],
                                ['MN', 'MN'],
                                ['MO', 'MO'],
                                ['MS', 'MS'],
                                ['MT', 'MT'],
                                ['NC', 'NC'],
                                ['ND', 'ND'],
                                ['NE', 'NE'],
                                ['NH', 'NH'],
                                ['NJ', 'NJ'],
                                ['NM', 'NM'],
                                ['NV', 'NV'],
                                ['NY', 'NY'],
                                ['OH', 'OH'],
                                ['OK', 'OK'],
                                ['OR', 'OR'],
                                ['PA', 'PA'],
                                ['RI', 'RI'],
                                ['SC', 'SC'],
                                ['SD', 'SD'],
                                ['TN', 'TN'],
                                ['TX', 'TX'],
                                ['UT', 'UT'],
                                ['VA', 'VA'],
                                ['VT', 'VT'],
                                ['WA', 'WA'],
                                ['WI', 'WI'],
                                ['WV', 'WV'],
                                ['WY', 'WY']
                              ],{}, class: 'form-control custom-select'%>
                            </div>
                            <div class='col-md-2'>
                              <label for="exampleInputEmail1" style='padding-top:10px'>Zip</label>
                              <%= form.text_field :zip, class: 'form-control' %>
                            </div>
                              <%= form.hidden_field :name, :value => current_user.email %>
                              <%= form.hidden_field :member_id, :value => member['Member_id'] %>
                              <%= form.hidden_field :member_code, :value => member['Code'] %>
                              <%= form.hidden_field :contact_id %>
                              <%= form.hidden_field :company, :value => member['Company'] %>
                              <%= form.hidden_field :group_id, :value => @group.id %>
                              <%= form.hidden_field :stype, :value => 'INSERT' %>
                              <%= form.hidden_field :billing, :value => @group.billing_id%>
                            </div>
                          
                        <%= form.submit 'Add Contact', class: 'btn btn-info btn-block', type: "submit" %>
                        
                          </form>
                          <%end%>
                    </div>
                  </div>
            </div>
            

            </div>
          </div>
        </div>
        <div class="container" style="padding-bottom: 10px">
          <div class="row">
            <div class="col-md-6 ">
            <!–– <button type="button" class="btn btn-secondary btn-block"> 
            
                <!––  </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  <%end%>
<%end%>
  <div class="col-xl-4 col-lg-6" style="padding-bottom: 25px !important">
    <% if current_user.admin? %>
<div class="card" style="width: auto; ">      
<a class="btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  <div class="card-header" >
    <h6 style="padding-top: 10px !important;">
      <div style="color: #E27d60">Add Code</div>      
    </h6>
  </div>
</a>



</div>
<% end %>
</div>

</div>
</div>
  
</div>
<div class="col-md-3">
<div class="mycontent-right">
  <div style="padding-left: 15px; padding-top:15px">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#service_area_modal" >
  Upload SAR
</button>
  <div class="collapse" id="service_area_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="service_area_modal">Upload SAR</h5>
        
      </div>
      <div class="modal-body">
      <a name="form900522022" id="formAnchor900522022"></a>
      <script src="https://fs26.formsite.com/include/form/embedManager.js?900522022"></script>
      
      </div>
      
    </div>
  </div>
</div>
<script>
EmbedManager.embed({
  key: "https://fs26.formsite.com/res/showFormEmbed?EParam=m_OmK8apOTANZkOaL7H0HogAwUXi0cBCFzpUCZwnDno&900522022",
  width: "100%",
  mobileResponsive: true,
  prePopulate: {"1":"<%= current_user.profile.first_name%>","2":"<%= current_user.profile.last_name%>","3":"<%= current_user.email%>"}
});
</script>
</div>
<div style="padding-left: 15px; padding-top:15px">
  <% if @counts != nil %>
  <button class="btn btn-info" data-toggle="collapse" href="#ticketcounts" role="button" aria-expanded="false" aria-controls="ticketcounts">
  Show 2019 Billable Ticket Totals
  </button>
  <p />
  <div class="collapse" id="ticketcounts">
  <ul class="list-group list-group-flush" >
    
    <% @counts.each do |count| %>
      <% if count['Year'] != '2018' %>
      <li class="list-group-item d-flex justify-content-between align-items-center" >
          <%= Date::MONTHNAMES[count['Month'].to_i]  %>
          <h6>
          <span class="badge badge-secondary" style='padding-left: 15px; padding-right: 15px'>
            <%= count['Total'] %>
          </span>
          </h6>
      </li>
      <% end %>
    <% end %>
    <% @counts.each do |count| %>
      <% if count['Year'] != '2018' %>
       <% @total = @total + count['Total']%>
      <%end%>
    <%end%>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      YTD Total
    <h6>
    <span class="badge badge-secondary" style='padding-left: 15px; padding-right: 15px'>
      <%= @total %>
    </span>
    </h6>
    </li>
    </ul>
    </div>
  <% end %>
</p>

<h6>Recent Activity</h6>
<ul class="list-group">
<%if @activities.present?%>
<% @activities.each do |activity| %>
  <li class="list-group-item">
   
    <strong></strong>
    <% render_activity activity, display: :i18n %>
    
    
      <%= activity.owner.profile.first_name%> <%= activity.owner.profile.last_name %> 
      <% if activity.stype == 'UPDATE' %>
      Updated a <%if activity.contact_type == 'RCVR' %>
      Recieving 
    <%elsif activity.contact_type== 'ALTR' %>
      Alternate
    <%elsif activity.contact_type== 'BILL' %>
      Billing
    <%elsif activity.contact_type== 'BORD' %>
      Board Representative
    <%elsif activity.contact_type== 'DAMG' %>
      Damage
    <%elsif activity.contact_type== 'DATA' %>
      Database
    <%elsif activity.contact_type== 'EMER' %>
      Emergency 
    <%elsif activity.contact_type== 'ENGR'%>
      Engineering
    <%elsif activity.contact_type== 'MAIN'%>
      MAIN SWITCHBOARD
    <%elsif activity.contact_type== 'SURV'%>
      Surveyor
    <%elsif activity.contact_type== 'CONT'%>
       
    <%elsif activity.contact_type== 'NITE'%>
      Night Time
    <%elsif activity.contact_type== 'AHRS'%>
      After Hours
    <%elsif activity.contact_type== 'VACU'%>
      Vacuum
    <%elsif activity.contact_type== 'REPR'%>
      Member Rep
    <%end%> contact for 
      <%elsif activity.stype == 'DELETE' %>
      Deleted a <%if activity.contact_type == 'RCVR' %>
      Recieving 
    <%elsif activity.contact_type== 'ALTR' %>
      Alternate
    <%elsif activity.contact_type== 'BILL' %>
      Billing
    <%elsif activity.contact_type== 'BORD' %>
      Board Representative
    <%elsif activity.contact_type== 'DAMG' %>
      Damage
    <%elsif activity.contact_type== 'DATA' %>
      Database
    <%elsif activity.contact_type== 'EMER' %>
      Emergency 
    <%elsif activity.contact_type== 'ENGR'%>
      Engineering
    <%elsif activity.contact_type== 'MAIN'%>
      MAIN SWITCHBOARD
    <%elsif activity.contact_type== 'SURV'%>
      Surveyor
    <%elsif activity.contact_type== 'CONT'%>
       
    <%elsif activity.contact_type== 'NITE'%>
      Night Time
    <%elsif activity.contact_type== 'AHRS'%>
      After Hours
    <%elsif activity.contact_type== 'VACU'%>
      Vacuum
    <%elsif activity.contact_type== 'REPR'%>
      Member Rep
    <%end%> contact for
      <%else %>
      Added a <%if activity.contact_type == 'RCVR' %>
      Recieving 
    <%elsif activity.contact_type== 'ALTR' %>
      Alternate
    <%elsif activity.contact_type== 'BILL' %>
      Billing
    <%elsif activity.contact_type== 'BORD' %>
      Board Representative
    <%elsif activity.contact_type== 'DAMG' %>
      Damage
    <%elsif activity.contact_type== 'DATA' %>
      Database
    <%elsif activity.contact_type== 'EMER' %>
      Emergency 
    <%elsif activity.contact_type== 'ENGR'%>
      Engineering
    <%elsif activity.contact_type== 'MAIN'%>
      MAIN SWITCHBOARD
    <%elsif activity.contact_type== 'SURV'%>
      Surveyor
    <%elsif activity.contact_type== 'CONT'%>
       
    <%elsif activity.contact_type== 'NITE'%>
      Night Time
    <%elsif activity.contact_type== 'AHRS'%>
      After Hours
    <%elsif activity.contact_type== 'VACU'%>
      Vacuum
    <%elsif activity.contact_type== 'REPR'%>
      Member Rep
    <%end%> contact for
      <%end%>
      <%= activity.code %>
       on <%=activity.updated_at.localtime.strftime("%m/%d at %I:%M %p") %>
      
      

  </li>
<% end %>
<%end%>
</ul>
</div>
</div>
</div>
</div>
</div>



<style type="text/css">.mycontent-right {
border-left: 3px solid #F2F7F9 !important; 
}</style>
