<%= render partial: 'nav' %>
<div class="text-center" style="padding-top: 50px; padding-bottom: 50px">
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4 offset-md-3'>
  <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>
  </div>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<style type="text/css">#footer{position: fixed;width: 100%;
  bottom: 0;}</style>
