<%= render partial: 'nav' %>
<div class="text-center" style="padding-top: 50px; padding-bottom: 100px">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4 offset-md-3'>
  <%= render "devise/shared/error_messages", resource: resource %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
<style type="text/css">#footer{position: fixed;width: 100%;
  bottom: 0;}</style>
