<div class="col-xl-4 col-lg-6" style="padding-bottom: 25px !important">
	<div class="card" style="width: 18rem; ">
  		<div class="card-header" >
  			<h6 style="padding-top: 10px !important;">
			<%= link_to code.code, code %>
		</h6>
		</div>

		<h6 class="card-text text-muted" style="padding-left: 10px; padding-top: 5px">
			Name: 
			<%= code.name %>
		</h6>
		<h6 class="card-text text-muted"style="padding-left: 10px">
			Facility Type: 
			<%= code.facility_type %>
		</h6>
		<h6 class="text-muted" style="padding-left: 10px">
			Destination: 
			<%= code.destination %>
		</h6>
		<div class="container" style="padding-bottom: 10px">
		<button type="button" class="btn btn-secondary btn-block">
			<%= link_to image_tag("pencil.svg", :width => "20", :style => '-webkit-filter:invert(100%);
        filter:invert(100%);'), edit_code_path(code)%>

    	</button>
		</div>

	</div>
</div>
