

      <h3><%= @code.company.name %></h3>
      <p>
          <h6>
            Code: <%= link_to @code.code, edit_code_path(@code) %>  -  
            Facility Type: <%= link_to @code.facility_type, edit_code_path(@code) %>  -  
            Destination: <%= link_to @code.destination, edit_code_path(@code) %>
          </h6>
        </p>
<%= render partial: 'nav' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" style="background-color: white">
        <li class="breadcrumb-item"><%=link_to "HOME", root_path %></li>
        <li class="breadcrumb-item"><%= link_to @code.company.name, @code.company %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @code.name %></li>
      </ol>        
      <p id="notice"><%= notice %></p>
    
    </div>
  </div>
</div>
<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-8 offset-md-1">
      <div class="container-fluid" style="padding-top: 35px !important">
    <h4 class="text-center">Contacts</h4>
            <hr class="my-4">
            </hr>
        <div class="row">
          <%= render :partial => @code.contacts %>
          <div class="col-xl-4 col-lg-6" style="padding-bottom: 25px !important">
  <div class="card" style="width: 18rem; ">      
    <a class="btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <div class="card-header" >
        <h6 style="padding-top: 10px !important;">
          <div style="color: #E27d60">Add Contact</div>      
        </h6>
      </div>
    </a>
    <div class="collapse" id="collapseExample">
          <%= simple_form_for [@code, Contact.new] do |form| %>

      <div class="card card-body">
        <form>
          <div class="form-group">
            <%= form.text_field :contact_type, class: 'form-control', :placeholder => 'Contact Type' %>
          </div>

          <div class="form-group">
            <%= form.text_field :name, class: 'form-control',:placeholder => 'Name' %>
          </div>


          <div class="form-group">
            <%= form.text_field :phone, class: 'form-control',:placeholder => 'Phone' %>
          </div>

          <div class="form-group">
            <%= form.text_field :email, class: 'form-control',:placeholder => 'Email' %>
          </div>

          <%= form.hidden_field :code_id, :value => @code.id %>


          <div class="form-group">
            <div class="actions">
              <%= form.submit 'Submit', class: 'btn btn-success btn-block', type: "submit" %>
            </div>
          </div>
        </form>
      </div>
    </div>
<% end %>

        </div>
      </div>
        </div>
      </div>
      <h4 class="text-center">Notes </h4>
          <hr class="my-4">
    </hr>
        <div class="card">
      <div class="card-header">
      Note 1
    </div>

  <p class="card-text">
    Note 1 body
  </p>

    </div>
    </div>
    <div class="col-md-3">
    <div class="mycontent-right">
      <div style="padding-left: 15px">
      Status: 

      <% if @code.company.status == "Active" %>
        <div class="badge badge-success" > 
        <% elsif @code.company.status == "Pending" %>
        <div class="badge badge-warning">
        <% elsif @code.company.status == "Canceled" %>
        <div class="badge badge-danger">
        <% else %>
        <div class="badge badge-info">
      <%end%>

        <%= @code.company.status %></div>
        <hr class="my-4">
      </hr>
      <div class=""> Billing Contact:

          <% if @code.company.billing_contact.present? %>
      <%= link_to @code.company.billing_contact.name, @code.company.billing_contact %> 
      <p>
        Billing Address:
      <%= @code.company.billing_contact.addr %>
    </p>
    <p>
      Phone:
      <%= @code.company.billing_contact.phone %>
    </p>
    <p>
      Email:
      <%= @code.company.billing_contact.email %>

      <%end%>
    </p>
  </div>
</div>
    </div>
  </div>
</div>

<style type="text/css">.mycontent-right {
  border-left: 3px solid #F2F7F9 !important;
}</style>
