<%= render partial: 'nav' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" style="background-color: white">
        <li class="breadcrumb-item"><%=link_to "HOME", root_path %></li>
        <li class="breadcrumb-item"><%= link_to @contact.code.company.name, @contact.code.company %></li>
        <li class="breadcrumb-item" aria-current="page"><%= link_to @contact.code.name, @contact.code %></li>
        <li class="breadcrumb-item active" aria-current='page'><%= @contact.contact_type %></li>
      </ol>        
      <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="row" style="padding-top: 45px; padding-bottom: 120px">
	<div class="col-md-6 offset-md-3">
		<h3>Editing <%= @contact.contact_type%> Contact for <%= @contact.code.code %></h3>

		<%= render 'form', contact: @contact %>
	</div>
</div>


<%= link_to 'Show', @contact %> |
<%= link_to 'Back', @contact.code %>
