    </div>
  </div>
</div>
</nav>
<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Code:</strong>
  <%= @contact.code %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
