<%= render partial: 'nav' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" style="background-color: white">
        <li class="breadcrumb-item"><%=link_to "HOME", root_path %></li>
        <li class="breadcrumb-item"><%= link_to @contact.code.company.name, @contact.code.company %></li>
        <li class="breadcrumb-item" aria-current="page"><%= link_to @contact.code.name, @contact.code %></li>
        <li class="breadcrumb-item active" aria-current='page'><%= @contact.contact_type %></li>
      </ol>        
      <p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @contact.contact_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Code:</strong>
  <%= @contact.code %>
</p>
</div>
</div>
Activities should render here
<%= render 'shared/activities' %>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
