
			<h3 class="white-text">
  				<%= @company.name %>
  			</h3>
  			<p>
  				<h6>

  				<% if @company.billing_contact.present? %>

				Billing Contact: 
				<%= link_to @company.billing_contact.name, @company.billing_contact, class: "no_style" %> - 

				<%end%>
					<% if @company.billing_contact.present? %>

					  Member Rep: 
					<%= link_to @company.billing_contact.name, @company.billing_contact %> 
					<%end%>



				</h6>
			</p>
<%= render partial: 'nav' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb"style="background-color: white">
        <li class="breadcrumb-item"><%=link_to "COMPANIES", root_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @company.name %></li>
      </ol>
      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>

 
  
<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-8 offset-md-1">
      <div class="container-fluid" style="padding-top: 35px !important">
		<h4 class="text-center">Codes</h4>
		<hr class="my-4">
		</hr>
		<div class="row">
      
      <% @members.each do |member| %>
        <div class="col-xl-12 text-center" style="padding-bottom: 25px !important">
          <div class="card" style="width: auto; ">

            <div class="card-header" >
              <h5 style="padding-left: 55px; padding-top: 10px !important; color: #E27d60 !important ">
                <%= member['Code'] %> - <%= member['Company'] %>
              
              <% if member['Active'] == "true" %>
                <div class="badge badge-success float-right"  > 
                  Active
                </div>
    		      <% elsif member['Active'] == "false" %>
                <div class="badge badge-danger float-right" >
                  Not Active
                </div>
    		      <% else %>
                <div class="badge badge-info float-right" >
                </div>
              <%end%>
              </h5>
            </div>

            <h5 class="card-text text-muted" style="padding-top: 15px">
              Facility Type: <%= member['Facility'] %>
            </h5>

            <h5 class="text-muted" style="padding-left: 10px">
              Destination: <%= member['Delivery_address'] %>
            </h5>

            <div class='col-md-6 offset-md-3'>
              <button class='btn btn-info' data-toggle="collapse" href="#collapseExample<%=member['Member_id']%>" role="button" aria-expanded="false" aria-controls="collapseExample<%=member['Member_id']%>" >Contacts</button>
            </div>
            <div class="collapse" id="collapseExample<%=member['Member_id']%>">
              <div class='container'>
                <div class="row" style='padding-top: 15px'>
                  <% member['Contacts'][0]['Contacts'].each do |contact| %>
              
                    <div class='col-xl-3 col-lg-4 col-md-6 col-sm-12' style='padding-top: 15px'>
                      <div class="card" style="width: auto; ">

                        <div class="card-header" >
                          <h5 class="text-muted">
                            <%= contact['Contact_type'] %>
                          </h5>
                          <div class='card-body'>
                            <h6 class="text-muted"><%= contact['Name'] %></h6>
                            <h6 class="text-muted"><%= contact['Phone'] %></h6>
                            <h6 class="text-muted"><%= contact['Email'] %></h6>
                            <% if contact['Address1'].present? %>
                              <h6 class="text-muted"><%= contact['Address1'] %></h6>
                              <h6 class="text-muted"><%= contact['City'] %>, <%= contact['State'] %></h6>
                              <h6 class="text-muted"><%= contact['Zip'] %></h6>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    </div>

                  <%end%>
                </div>
              </div>
            </div>
            <div class="container" style="padding-bottom: 10px">
              <div class="row">
                <div class="col-md-6 ">
                <!–– <button type="button" class="btn btn-secondary btn-block"> 
                <!––    <%= link_to image_tag("pencil.svg", :width => "15", :style => '-webkit-filter:invert(100%); filter:invert(100%);') %>
                    <!––  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      <%end%>
      
      <div class="col-xl-4 col-lg-6" style="padding-bottom: 25px !important">
        <% if current_user.admin? %>
  <div class="card" style="width: auto; ">      
    <a class="btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <div class="card-header" >
        <h6 style="padding-top: 10px !important;">
          <div style="color: #E27d60">Add Code</div>      
        </h6>
      </div>
    </a>
    <div class="collapse" id="collapseExample">
          <%= simple_form_for [@company, Code.new] do |form| %>
          <div class="card card-body">
        <form>
          <div class="form-group">
            <%= form.text_field :code, class: 'form-control', :placeholder => 'Code' %>
          </div>

          <div class="form-group">
            <%= form.text_field :name, class: 'form-control',:placeholder => 'Name' %>
          </div>


          <div class="form-group">
            <%= form.text_field :facility_type, class: 'form-control',:placeholder => 'Facility Type' %>
          </div>

          <div class="form-group">
            <%= form.text_field :destination, class: 'form-control',:placeholder => 'Destination' %>
          </div>

          <%= form.hidden_field :company_id, :value => @company.id %>
          <div class="form-group">
            <div class="actions">
              <%= form.submit 'Submit', class: 'btn btn-success btn-block', type: "submit" %>
            </div>
          </div>
        </form>
      </div>
    </div>
<% end %>

</div>
  <% end %>
</div>

  </div>
</div>
      <h4 class="text-center">Comments </h4>
      		<hr class="my-4">
		</hr>
		    <div class="card">
      <div class="card-header">
      Comment 1
    </div>

  <p class="card-text">
    Comment 1 body
  </p>

    </div>
    </div>
    <div class="col-md-3">
    <div class="mycontent-right">
    	<div style="padding-left: 15px">
    	

    		
    	
    	<div class=""> Billing Contact:

      		<% if @company.billing_contact.present? %>
			<%= link_to @company.billing_contact.name, @company.billing_contact %> 
			<p>
				Billing Address:
			<%= @company.billing_contact.addr %>
		</p>
		<p>
			Phone:
			<%= @company.billing_contact.phone %>
		</p>
		<p>
			Email:
			<%= @company.billing_contact.email %>

			<%end%>
		</p>
    <hr class="my-4">
      </hr>
    <h6>Recent Activity</h6>
  <ul class="list-group">
    <% @activities.each do |activity| %>
      <li class="list-group-item">
       
        <strong></strong>
        <% render_activity activity, display: :i18n %>
        <% if activity.trackable %>
        
          <%= activity.owner.profile.first_name%> <%= activity.owner.profile.last_name %> <%= activity.text %> for <%= link_to activity.trackable.code.code,  code_path(activity.trackable.code.id) %> on <%=activity.updated_at.localtime.strftime("%m/%d at %I:%M %p") %>
          <% else %>
          <%= activity.owner.profile.first_name %> <%= activity.owner.profile.last_name %> <%= activity.text %> on <%=activity.updated_at.localtime.strftime("%m/%d at %I:%M %p") %>
          <% end %>
          
    
      </li>
    <% end %>
  </ul>
	</div>
</div>
    </div>
  </div>
</div>



<style type="text/css">.mycontent-right {
  border-left: 3px solid #F2F7F9 !important; 
}</style>
