
<%= simple_form_for(@concerned_citizen_ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if params[:type].present? %>
      <%= f.hidden_field :ticket_type, value: params[:type] %>
    <% else %>
      <%= f.input :ticket_type, collection: ['concerned_citizen', 'cross_bore'] %>
      <br/>
    <% end %>
    <% @counties = %w[Alameda Alpine Amador Butte Calaveras Colusa Contra\ Costa Del\ Norte El\ Dorado Fresno Glenn Humboldt Kern Kings Lake Lassen Madera Marin Mariposa Mendocino Merced Modoc Mono Monterey Napa Nevada Placer Plumas Sacramento San\ Benito San\ Francisco San\ Joaquin San\ Luis\ Obispo San\ Mateo Santa\ Clara Santa\ Cruz Shasta Sierra Siskiyou Solano Sonoma Stanislaus Sutter Tehama Trinity Tulare Tuolumne Yolo Yuba
Carson Churchill Clark Douglas Elko Esmeralda Eureka Humboldt Lander Lincoln Lyon Mineral Nye Pershing Storey Washoe White\ Pine] %>
    <br/>

    <hr/>
    <span style="font-size: 2.2vh; font-weight: bold">Your Information</span>
    <%= f.input :first, placeholder: 'First Name', label: 'First Name' %>
    <%= f.input :last, placeholder: 'Last Name', label: 'Last Name' %>
    <%= f.input :email, placeholder: 'Email' %>
    <br/>
    <hr/>
    <span style="font-size: 2.2vh; font-weight: bold">Worksite Information</span>
    <%= f.input :state, collection: ['California', 'Nevada'], selected: request.location.state %>
    <%= f.input :county, collection: @counties  %>
    <%= f.input :city, input_html: { value: request.location.city }  %>
    <%= f.input :zip, input_html: { value: request.location.postal_code } %>
    <br/>
    <b>Is the work taking place at an address?</b>
    <%= f.input :address, label: "If so, place the address here.", placeholder: "Address" %>
    <br/>
    <b>If not, please provide the nearest intersection as a reference</b>
    <%= f.input :street, label: "Street", placeholder: "Street" %>
    <%= f.input :cross_st, label: "Intersecting street", placeholder: "Cross Street" %>
    <br/>
    <%= f.input :description, label: "Description", placeholder: "Feel free to provide any further details you believe may be helpful." %>
  </div>
<br/>
  <div class="form-actions">
    <%= f.button :submit, 'Submit', class: 'btn btn-info' %>
  </div>
<% end %>
