
<%= simple_form_for(@concerned_citizen_ticket) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if params[:type].present? %>
      <%= f.hidden_field :ticket_type, value: params[:type] %>
    <% else %>
      <%= f.input :ticket_type %>
    <% end %>

    <%= f.input :first %>
    <%= f.input :last %>
    <%= f.input :email %>
    <%= f.input :state, value: request.location.state  %>
    <%= f.input :city, value: request.location.city  %>
    <%= f.input :zip, value: request.location.postal_code  %>
    <%= f.input :address %>
    <%= f.input :street %>
    <%= f.input :cross_st %>
    <%= f.input :description %>
  </div>
<br/>
  <div class="form-actions">
    <%= f.button :submit, 'Create Ticket', class: 'btn btn-info' %>
  </div>
<% end %>
