<%= turbo_frame_tag 'contact_status_form' do %>

  <%= form_with(model: @codestatus, local: true) do |form| %>
    <div class="card card-body">
      <form>
        <div class="form-group">
          <%= form.hidden_field :code, value: member_code %>
          <%= form.hidden_field :group_id, value: group %>
          <%= form.hidden_field :user_id, value: user %>
          <%= form.label :contacts_updated, 'Confirm all contacts are current and do not need to be altered at this time.' %>
          <%= form.hidden_field :contacts_updated, value: true %>
        </div>
        <br/>
        <div class="form-group">
          <div class="actions">
            <%= form.submit 'Confirm', class: 'btn btn-success btn-block', type: "submit" %>
          </div>
        </div>
      </form>
    </div>
  <% end %>
<% end %>
