<p id="notice"><%= notice %></p>

<h1>Codestatuses</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Sar updated</th>
      <th>Contacts updated</th>
      <th>User</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @codestatuses.each do |codestatus| %>
      <tr>
        <td><%= codestatus.code %></td>
        <td><%= codestatus.sar_updated %></td>
        <td><%= codestatus.contacts_updated %></td>
        <td><%= codestatus.user %></td>
        <td><%= codestatus.group %></td>
        <td><%= link_to 'Show', codestatus %></td>
        <td><%= link_to 'Edit', edit_codestatus_path(codestatus) %></td>
        <td><%= link_to 'Destroy', codestatus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Codestatus', new_codestatus_path %>
