<p id="notice"><%= notice %></p>

<p>
  <strong>Old destination:</strong>
  <%= @destination.old_destination %>
</p>

<p>
  <strong>New destination:</strong>
  <%= @destination.new_destination %>
</p>

<p>
  <strong>Code:</strong>
  <%= @destination.code %>
</p>

<p>
  <strong>Group:</strong>
  <%= @destination.group %>
</p>

<p>
  <strong>User:</strong>
  <%= @destination.user %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
