    </div>
  </div>
</div>
</nav>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member_rep.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member_rep.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member_rep.email %>
</p>

<p>
  <strong>Addr:</strong>
  <%= @member_rep.addr %>
</p>

<p>
  <strong>Company:</strong>
  <%= @member_rep.company %>
</p>

<%= link_to 'Edit', edit_member_rep_path(@member_rep) %> |
<%= link_to 'Back', member_reps_path %>
