<!DOCTYPE html>
<html lang="en">
<head>
  <title>MemberPortal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="USA North Member Portal. Keep your membership up to date."
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag asset_path('811-logo.png') %>
  <!-- Add this to <head> -->

  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

  <title>Member Portal</title>

  <!-- Required Stylesheets -->
  <link
    type="text/css"
    rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />


  <!-- Required scripts -->

    <%= stimulus_include_tags %>
</head>
<body>
<style type="text/css">.bg-dark{color: white !important; background-color:#E27d60 }</style>
<style type="text/css">a{font-weight: 600 !important; text-decoration: none !important;background-color:transparent !important; color: #e15b36 ;} </style>
<style type="text/css">a:visited{ color: #e15b36 !important} </style>
<style type="text/css">
  @media2 (prefers-color-scheme: dark) {
    .navbar {
      background-color: #2f4f4f !important;
      color: #e4e4e4 !important;
    }
    .footer{
      background-color: #2f4f4f !important;
      color: #e4e4e4 !important;
    }
    #dark-container {
      background-color: #444 !important;
      color: #e4e4e4 !important;
    }
    .list-group-item{
      background-color: #707070 !important;
      color: #e4e4e4 !important;
    }
    body {
      background-color: #444 !important;
      color: #e4e4e4 !important;
    }
    a {
      color: #e39777 !important;
    }
    img {
      filter: grayscale(30%) !important;
    }
    a {
      color: #e39777;
    }
    .modal-content {
      background-color: #444 !important;
      color: #e4e4e4 !important;
    }
    input {
      background-color: #c9c9c9c9 !important;
      border-color: #707070 !important;
      color: #707070 !important;
    }
    select {
      background-color: #c9c9c9c9 !important;
      border-color: #707070 !important;
      color: #707070 !important;
    }
    img {
      filter: grayscale(30%);
    }
    #inverted-icon{
      filter: grayscale(30%);
      filter: invert(90%);
    }
    .card {
      border-color: #444;
    }
    .card-header{
      background-color: #2f4f4f !important;
      color: #e4e4e4 !important;
    }
    .card-body{
      background-color: #c9c9c9c9 !important;
      color: #444 !important;
    }
    .card-text{
      background-color: #707070 !important;
    }
  }
  body {color: #2c3444; font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; text-align: center;}
.navbar{ background-color: #2c3444; color: white;}
.footer{ background-color: #2c3444; color: white;}
.card-header{ background-color: #2c3444; color: white;}
.card-body{ background-color: white; }
.card-text{ background-color: #EBECEE}
.card {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
  0 2px 2px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11),
  0 6px 8px rgba(0,0,0,0.11),
  0 8px 16px rgba(0,0,0,0.11);
}
#mimicCard {
  box-shadow: 0 1px 1px rgba(0,0,0,0.11),
  0 2px 2px rgba(0,0,0,0.11),
  0 4px 4px rgba(0,0,0,0.11),
  0 6px 8px rgba(0,0,0,0.11),
  0 8px 16px rgba(0,0,0,0.11);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: .5;
}
.bounce-enter-active {
  animation: bounce-in .7s;
}

@keyframes bounce-in {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
h4{ font-weight: 500 !important;}
.breadcrumb { background-color: white;}
.list-group-item{  font-weight: 600}
.badge-secondary{ background-color: #2c3444;}
.badge-success{ background-color: #BCCB31; color: #2c3444}
.badge-danger{ background-color: #E36948; color: #EBECEE}
.btn-outline-secondary{ border-color: #2c3444}
.btn-outline-secondary:hover {border-color: #2c3444;background-color: #2c3444; color: #2c3444;}
.btn-outline-info{ border-color: #388694}
.btn-outline-info:hover {border-color: #388694;background-color: #388694; color: #2c3444;}
.btn-outline-danger{ border-color: #e15b36}
.btn-outline-danger:hover {border-color: #e15b36;background-color: #e15b36; color: #2c3444;}
.btn-info{ border-color: #388694; background-color: #388694 !important; font-weight: 600}
.btn-info:hover {background-color: #E27D60 !important; border-color: #E27D60}

</style>
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <div class="row">
      <%
        if browser.ie? %>
        <h1 class="disclaimer">You are using an incompatible browser. Upgrade to the latest version of Chrome, Firefox, or Safari.</h1>
        <%else %>


      <div class="col-md-3">

        <%= link_to image_tag("usanorthlogo7.svg", :width => "200", :height => 'auto', :style =>"align-items: center;", alt: 'icon'), root_path %>

      </div>
      <div class="col-md-9 " style="text-align: center; padding-left:50px">


        <%= yield %>

      </div>
      <div class="filler" style="padding-bottom: 50px">
      </div>
      <% end %>
      <nav id="footer" class="footer sticky-bottom ">
        <div class="container">
          <div class="row">
            <div class="col-md-12" style='padding-top: 30px; '>
              <div class="text-center">
                <a href="https://www.facebook.com/USANORTH811/" aria-label="Facebook"><img src="https://usanorth811.org/images/facebook.svg" alt="Facebook Icon" width='40px' height="auto" /></a>
                <a href="https://twitter.com/usanorth811" aria-label="Twitter"><img src="https://usanorth811.org/images/twitter.svg" alt="Twitter Icon" width='40px' /></a>
                <a href="https://www.instagram.com/usanorth811/" aria-label="Instagram"><img src="https://usanorth811.org/images/instagram.svg" alt="Instagram Icon" width='40px' height="auto" /></a>
                <a href="https://www.linkedin.com/company/usa-north-811/" aria-label="Linked In"><img src="https://usanorth811.org/images/linkedin.svg" alt="Linked In Icon" width='40px' height="auto" /></a>
                <a href="https://www.youtube.com/channel/UCI0klvu8UbGND3udvcOdNaA" aria-label="YouTube"><img src="https://usanorth811.org/images/youtube.svg" alt="YouTube Icon" width='40px' height="auto" /></a>


                <p style='padding-top: 0px'>
                <h4>USA North 811</h4>
                Phone: 811 // 800-642-2444
                </p>
                <p style='padding-bottom: 40px'>
                  4005 Port Chicago Hwy, Suite 100 Concord, CA 94520-1122
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
</body>

</html>
